<!-- Stock Section for Stores -->
<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Title
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Author
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Quantity
        </th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>


    <!-- EJEMPLO 1 -->
    <tbody class="divide-y divide-gray-200">
      <tr>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          John Doe
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">24/05/1995</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          <div>
          <label for="Quantity" class="sr-only"> Quantity </label>
        
          <div class="flex items-center gap-1">
            <button
              type="button"
              class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
            >
              &minus;
            </button>
        
            <input
              type="number"
              id="Quantity"
              value="1"
              class="h-10 w-16 rounded border-gray-200 text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
            />
        
            <button
              type="button"
              class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
            >
              &plus;
            </button>
          </div>
        </div>
        </td>
        <td class="whitespace-nowrap px-4 py-2">
          <a
            href="#">
            Save
          </a>
        </td>
      </tr>


      <!-- EJEMPLO 2 -->
      <tr>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Jane Doe
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">04/11/1980</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          <div>
          <label for="Quantity" class="sr-only"> Quantity </label>
        
          <div class="flex items-center gap-1">
            <button
              type="button"
              class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
            >
              &minus;
            </button>
        
            <input
              type="number"
              id="Quantity"
              value="1"
              class="h-10 w-16 rounded border-gray-200 text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
            />
        
            <button
              type="button"
              class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
            >
              &plus;
            </button>
          </div>
        </div>
        </td>
        <td class="whitespace-nowrap px-4 py-2">
          <a
            href="#">
            Save
          </a>
        </td>
      </tr>


      <!-- EJEMPLO 3 -->
      <tr>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Gary Barlow
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">24/05/1995</td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          <div>
          <label for="Quantity" class="sr-only"> Quantity </label>
        
          <div class="flex items-center gap-1">
            <button
              type="button"
              class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
            >
              &minus;
            </button>
        
            <input
              type="number"
              id="Quantity"
              value="1"
              class="h-10 w-16 rounded border-gray-200 text-center [-moz-appearance:_textfield] sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none"
            />
        
            <button
              type="button"
              class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75"
            >
              &plus;
            </button>
          </div>
        </div>
        </td>
        <td class="whitespace-nowrap px-4 py-2">
          <a
            href="#">
            Save
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>