.editorsWidth {
    z-index: 1;
    flex: 1 1 auto;
    width: auto;  /* width: 83.33333333%; */
    margin-left: auto!important;
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}

.saveAndExportSeparator {
    font-size: 1.1vw;
    margin-left: 4px;
    margin-right: 4px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

.store-card-image-container {
    padding-left: 5px!important;
}

.hiddenContent {
    display: none!important;
}

.container-for-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 0; /* Important for flex layout to work properly */
    max-height: 100vh; /* Set a maximum height based on viewport height */

    /* Add scrollbars if content overflows vertically */
    overflow-y: auto;
}

.dashboard-content-title {
    padding-top: 5px;
}